@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Positions */
#notification-area-default
{
    position: fixed;
    top: -55vh;
    right: 10px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#notification-area-top
{
  top: 0;
  left: 5%;
  width: 90%;
}

#notification-area-topLeft
{
  top: 20px;
  left: 20px;
  width: 325px;
}

#notification-area-topCenter
{
  top: 5%;
  left: 50%;
  width: 325px;
}
/* Not done */
/* #notification-area-topRight
{
  top: 20px;
  left: 20px;
  width: 325px;
} */

#notification-area-center
{
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1); }
}

#notification-area-centerLeft
{
  top: 50%;
  left: 20px;
  width: 325px;
  /* Insert webkit transform*/
}

#notification-area-centerRight
{
  top: 50%;
  right: 20px;
  width: 325px;
  /* Insert webkit transform*/
}

#notification-area-bottom
{
  bottom: 0;
  left: 5%;
  width: 90%;
}

#notification-area-bottomLeft
{
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#notification-area-bottomCenter
{
  bottom: 5%;
  left: 50%;
  width: 325px;
    /* Insert webkit transform*/
}

#notification-area-bottomRight
{
  bottom: 20px;
  left: 50%;
  width: 325px;
}


#notification-area .notification{
    padding: 15px 15px;
    color:#f5f5f5;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px 0px;
}
 /* Types */
#notification-area .notification.success
{
    animation: show_slide 1s ease forwards;
    border-left: 8px solid #015c0d;
    background-color: rgba(46, 139, 86, 0.733);
}

#notification-area .notification.warning
{
    animation: show_slide 1s ease forwards;
    border-left: 8px solid #8d5700;
    background-color: rgba(235, 114, 0, 0.733);
}

#notification-area .notification.error
{
    animation: show_slide 1s ease forwards;
    border-left: 8px solid #5c0101;
    background-color: rgba(223, 6, 6, 0.733);
}

/*Animation : */
@keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
}
  