@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
/* Need new font*/

/* Root Variables */
:root {
    top-color: white;
    top-font-size: 1.4rem;
    money-color: #2cab44;
    


}

